.header__container{
	max-width: 90vw;
	margin: 0 auto;
	padding: 0 1vw;
}

.main__header {
	padding: 2.5rem 0;
	box-sizing: border-box;
	@media (min-width: 320px) and (max-width: 575px) {
		padding: 1.5rem 0;
	}
	@media (min-width: 576px) and (max-width: 767px) {
		padding: 1.8rem 0;
	}
	@media (min-width: 768px) and (max-width: 991px) {
		padding: 2rem 0;
	}
	@media (min-width: 992px) and (max-width: 1199px) {
		padding: 2.5rem 0;
	}
	@media (min-width: 1200px) {
		padding: 2.5rem 0;
	}
}
.main__header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.logo {
	display: inline-block;
	font-size: 2rem;
	text-transform: uppercase;
	color: #000000;
	@media (min-width: 320px) and (max-width: 575px) {
		font-size: 2.5rem;
	}
	@media (min-width: 576px) and (max-width: 767px) {
		font-size: 2.4rem;
	}
	@media (min-width: 768px) and (max-width: 991px) {
		font-size: 2.3rem;
	}
	@media (min-width: 992px) and (max-width: 1199px) {
		font-size: 2.2rem;
	}
	@media (min-width: 1200px) {
		font-size: 2.1rem;
	}
}
.hamburger {
	display: none;
	
	@media (min-width: 320px) and (max-width: 575px) {
		display: block;
	}
	@media (min-width: 576px) and (max-width: 767px) {
		display: block;
	}
	@media (min-width: 768px) and (max-width: 991px) {
		display: none;
	}
	@media (min-width: 992px) and (max-width: 1199px) {
		display: none;
	}
	@media (min-width: 1200px) {
		display: none;
	}
}

.hamburger__item {
	display: none;
	@media (min-width: 320px) and (max-width: 575px) {
		width: 4rem;
		height: 0.4rem;
		background-color: #000;
		margin-bottom: .8rem;
		display: block;
		&:last-child{
			margin-bottom: 0;
		}
	}
	@media (min-width: 576px) and (max-width: 767px) {
		
	}
	@media (min-width: 768px) and (max-width: 991px) {
		display: none;
	}
	@media (min-width: 992px) and (max-width: 1199px) {
		display: none;
	}
	@media (min-width: 1200px) {
		display: none;
	}
}

.navigation {
	@media (min-width: 320px) and (max-width: 575px) {
		display: none;
	}
	@media (min-width: 576px) and (max-width: 767px) {
		display: none;
	}
	@media (min-width: 768px) and (max-width: 991px) {
		display: block;
	}
	@media (min-width: 992px) and (max-width: 1199px) {
		display: block;
	}
	@media (min-width: 1200px) {
		display: block;
	}
}
.navigation__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.6rem;
}
.navigation__item {
	margin-right: 2rem;
	&:last-child{
		margin-right: 0;
	}
	:hover{
		color: $mainColor;
	}
}
.navigation__link {
	color: #AFAFAF;
	transition: all .3s;
}
.navigation__link--active{
	color: $mainColor;
}

.submitApplication__btn {
	display: block;
	padding: 1rem 2rem;
	outline: none;
	border: none;
	cursor: pointer;
	background-color: $mainColor;
	text-transform: uppercase;
	font-size: 1.6rem;
	transition: all .3s;
	box-sizing: border-box;
	&:hover{
		color: #ffffff;
		box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.5)
	}
	@media (min-width: 320px) and (max-width: 575px) {
		display: none;
	}
	@media (min-width: 576px) and (max-width: 767px) {
		display: none;
	}
	@media (min-width: 768px) and (max-width: 991px) {
		display: block;
	}
	@media (min-width: 992px) and (max-width: 1199px) {
		display: block;
	}
	@media (min-width: 1200px) {
		display: block;
	}
}


.header__slider {
	position: relative;
}
.slider__item {
	height: 90vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
// .fade {
// }

.slider__wrapper{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	@media (min-width: 320px) and (max-width: 575px) {
		// justify-content: flex-start;
	}
	@media (min-width: 576px) and (max-width: 767px) {
		// justify-content: flex-start;
	}
	@media (min-width: 768px) and (max-width: 991px) {
		
	}
	@media (min-width: 992px) and (max-width: 1199px) {
		
	}
	@media (min-width: 1200px) {
		
	}
}

.slider__title {
	color: #ffffff;
	font-size: 4rem;
	text-transform: uppercase;
	font-weight: 800;
	margin-bottom: 1rem;
	max-width: 70vw;
	@media (min-width: 320px) and (max-width: 575px) {
		font-size: 2.5rem;
		margin-bottom: 0;
		max-width: 100vw;
		text-align: center;
	}
	@media (min-width: 576px) and (max-width: 767px) {
		font-size: 2.5rem;
		margin-bottom: 0;
		max-width: 100vw;
		text-align: center;
	}
	@media (min-width: 768px) and (max-width: 991px) {
		
	}
	@media (min-width: 992px) and (max-width: 1199px) {
		
	}
	@media (min-width: 1200px) {
		
	}
}
.slider__description {
	font-size: 2rem;
	font-weight: 300;
	color: #ffffff;
	max-width: 70vw;
	@media (min-width: 320px) and (max-width: 575px) {
		font-size: 1.8rem;
		max-width: 100vw;
		text-align: center;
		margin-top: 3rem;
	}
	@media (min-width: 576px) and (max-width: 767px) {
		font-size: 1.8rem;
		max-width: 100vw;
		text-align: center;
		margin-top: 3rem;
	}
	@media (min-width: 768px) and (max-width: 991px) {
		
	}
	@media (min-width: 992px) and (max-width: 1199px) {
		
	}
	@media (min-width: 1200px) {
		
	}
}
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #ffffff;
	font-weight: 700;
	font-size: 4rem;
	transition: .6s ease;
	width: auto;
	border-radius: 0 3px 3px 0;
	user-select: none;
	@media (min-width: 320px) and (max-width: 575px) {
		display: none;
	}
	@media (min-width: 576px) and (max-width: 767px) {
		display: none;
	}
	@media (min-width: 768px) and (max-width: 991px) {
		
	}
	@media (min-width: 992px) and (max-width: 1199px) {
		
	}
	@media (min-width: 1200px) {
		
	}
}

.prev{
	margin-left: 2rem;
}

.next{
	right: 0;
	margin-right: 2rem;
}

// .dot {
// }